<div class="navbar">
    <header class="navbar-header">
        <!-- Kodbook Title (left) -->
        <div class="navbar-title">
            <a routerLink="/home" class="navbar-title-link">
                <h1>Kodbook</h1>
            </a>
        </div>

        <!-- Login & Signup (right) -->
        <div class="navbar-actions">
            <a routerLink="/signup" routerLinkActive="active-page" ariaCurrentWhenActive="page" class="navbar-link">Sign
                Up</a>
            <a routerLink="/login" routerLinkActive="active-page" ariaCurrentWhenActive="page"
                class="navbar-link">Login</a>
        </div>
    </header>
</div>