@if (isLoggedIn()) {
<div class="navbar">
    <header class="navbar-header">
        <!-- Kodbook Title (left) -->
        <div class="navbar-title">
            <a routerLink="/home" class="navbar-title-link">
                <h1>Kodbook</h1>
            </a>
        </div>
        <a routerLink="/feed" routerLinkActive="active-page" ariaCurrentWhenActive="page"
            class="navbar-link">Explore</a>
        <!-- User Profile (right) -->
        <div class="navbar-profile">

            <span class="navbar-profile-name">{{getUsername()}}</span>
            <a routerLink="/profile" routerLinkActive="active-page" ariaCurrentWhenActive="page" class="navbar-link">
                <img src="https://via.placeholder.com/40" alt="User Avatar" class="navbar-profile-avatar" />
            </a>
        </div>
    </header>
    <button (click)="onLogout()" class="navbar-title-link logout-button">Logout</button>
</div>

}
@else {
<div class="navbar">
    <header class="navbar-header">
        <!-- Kodbook Title (left) -->
        <div class="navbar-title">
            <a routerLink="/home" class="navbar-title-link">
                <h1>Kodbook</h1>
            </a>
        </div>

        <!-- Login & Signup (right) -->
        <div class="navbar-actions">
            <a routerLink="/signup" routerLinkActive="active-page" ariaCurrentWhenActive="page" class="navbar-link">Sign
                Up</a>
            <a routerLink="/login" routerLinkActive="active-page" ariaCurrentWhenActive="page"
                class="navbar-link">Login</a>
        </div>
    </header>
</div>
}