<div class="change-password-form">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
        <!-- Current Password -->
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <div class="input-group">
                <input [type]="showCurrentPassword ? 'text' : 'password'" formControlName="currentPassword"
                    id="currentPassword" autocomplete="current-password" />
                <button type="button" class="toggle-visibility" (click)="toggleCurrentPasswordVisiblity()">
                    {{ showCurrentPassword ? '🙈' : '👁️' }}
                </button>
            </div>
            <div *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.invalid"
                class="error-message">
                Current Password is required.
            </div>
        </div>

        <!-- New Password -->
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <div class="input-group">
                <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" id="newPassword"
                    autocomplete="new-password" />
                <button type="button" class="toggle-visibility" (click)="toggleNewPasswordVisiblity()">
                    {{ showNewPassword ? '🙈' : '👁️' }}
                </button>
            </div>
            <div *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid"
                class="error-message">
                New Password is required.
            </div>
        </div>

        <!-- Submit Button -->
        <input type="submit" value="Update" [disabled]="changePasswordForm.invalid" class="submit-btn" />
    </form>
</div>