<div class="form-container">
    <h1 class="form-title">Sign Up</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="form">
        <label for="userName" class="form-label">Username</label>
        <input type="text" formControlName="userName" id="userName" name="userName" class="form-input"
            placeholder="Enter your username" autocomplete="username" />
        <div *ngIf="hasError('userName', 'required')" class="form-error">
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 12H9v-2h2v2zm0-4H9V6h2v4z" />
            </svg>
            Please enter username!
        </div>

        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" id="email" name="email" class="form-input"
            placeholder="example@email.com" autocomplete="email" />
        <div *ngIf="hasError('email', 'required')" class="form-error">
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 12H9v-2h2v2zm0-4H9V6h2v4z" />
            </svg>
            Please enter Email!
        </div>
        <div *ngIf="hasError('email', 'email')" class="form-error">
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 12H9v-2h2v2zm0-4H9V6h2v4z" />
            </svg>
            Please enter correct mail!
        </div>

        <label for="dob" class="form-label">Date of Birth</label>
        <input type="date" formControlName="dob" id="dob" name="dob" class="form-input" />

        <div *ngIf="hasError('dob', 'required')" class="form-error">
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 12H9v-2h2v2zm0-4H9V6h2v4z" />
            </svg>
            Please enter Date Of Birth!
        </div>

        <h1 class="form-label">Gender</h1>
        <div class="radio-group">
            <div class="radio-option">
                <input type="radio" formControlName="gender" name="gender" value="M" id="male" />
                <label for="male">Male</label>
            </div>
            <div class="radio-option">
                <input type="radio" formControlName="gender" name="gender" value="F" id="female" />
                <label for="female">Female</label>
            </div>
            <div class="radio-option">
                <input type="radio" formControlName="gender" name="gender" value="O" id="other" />
                <label for="other">Other</label>
            </div>
        </div>

        <div *ngIf="hasError('gender', 'required')" class="form-error">
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 12H9v-2h2v2zm0-4H9V6h2v4z" />
            </svg>
            Please select a gender!
        </div>

        <div class="password-container">
            <label for="password" class="form-label">Password</label>
            <input [type]="passwordVisibleSignal() ? 'text' : 'password'" formControlName="password" name="password"
                id="password" class="form-input" autocomplete="current-password" placeholder="Enter your password" />
            <!-- Password Visibility Toggle Button -->
            <button type="button" (click)="togglePasswordVisibility()" class="password-toggle-btn">
                <!-- Eye (show password) icon -->
                <svg *ngIf="!passwordVisibleSignal()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-eye-fill eye-icon" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                </svg>

                <!-- Eye Off (hide password) icon -->
                <svg *ngIf="passwordVisibleSignal()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-eye-slash-fill eye-icon" viewBox="0 0 16 16">
                    <path
                        d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                    <path
                        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                </svg>
            </button>
        </div>
        <div *ngIf="hasError('password', 'required')" class="form-error">
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 12H9v-2h2v2zm0-4H9V6h2v4z" />
            </svg>
            Please enter Password!
        </div>
        <div *ngIf="hasError('password', 'minlength')" class="form-error">
            <svg class="icon" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 12H9v-2h2v2zm0-4H9V6h2v4z" />
            </svg>
            Password must be at least 5 characters long.
        </div>

        <input type="submit" value="SignUp" class="form-submit" />

        <a routerLink="/login" class="form-link">Already Have an account? Login!</a>
    </form>
</div>